@charset "utf-8";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
h2{
    color: white;
    font-family: fantasy;
    font-weight: bold;

}
div.main{
/*background: #0264d6; */
/* Old browsers */
/*background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); */
/* FF3.6+ */
background-image: url("../images/gra1.png");
background-repeat: no-repeat;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
    margin:0px auto;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  color: #606468;
  font: 15px 'Open Sans', sans-serif;
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


a {
  color: #eee;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  /*-webkit-appearance: none;*/
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);

}

/* ---------- LOGIN ---------- */

#login form{
  width: 250px;
}
#login, .logo{
    display:inline-block;
    *width:40%;
}
#login{
border-right:1px solid #fff;
  padding: 0px 22px;
  width: 40%;
}
.logo{
color:#fff;
font-size:50px;
  line-height: 125px;
}

#login form span.fa {
  background-color: #fff;
  border-radius: 3px 0px 0px 3px;
  color: #000;
  display: block;
  float: left;
  height: 50px;
    font-size:24px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input {
  height: 50px;
}
fieldset{
    padding:0;
    border:0;
    margin: 0;

}
#login form input[type="text"], input[type="password"] {
  background-color: #fff;
  border-radius: 0px 3px 3px 0px;
  color: #000;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 200px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  font-weight: bold;
  /* margin-bottom: 2em; */
  text-transform: uppercase;
  padding: 5px 10px;
  height: 30px;
}

#login form input[type="submit"]:hover {
  background-color: #d44179;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}
.middle {
  display: flex;
  width: 85%;
}
 footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   *background-color: rgba(0,0,0,.5);
background: linear-gradient(to bottom, #41c8a2 27%, #0066cc 100%);
   color: white;
   text-align: center;
   padding:10px;
   font-size:13px;
    }

.navbar-inverse {
    *background-color: rgba(0,0,0,.25);
background: linear-gradient(to bottom, #41c8a2 27%, #0066cc 100%);
    font-weight: bold;
    font-size:13px;
}
.navbar-header a {
  font-family: fantasy;
  font-size:30px;
}

.navbar-inverse .navbar-brand {
color: #b47e33;
font-size: 36px;
}

.btncca{
    -webkit-border-radius: 5px;
    background-color: #03e5b7;
    background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
    color: #eee;
    font-weight: bold;
    /* margin-bottom: 2em; */
    text-transform: uppercase;
    padding: 5px 10px;
    height: 38px;
}

.error_div{
    color: #d44444;
    padding: 10px;
    font-weight: bold;
}
.actext p{
  color: white;
    font-weight: bold;
}
.btn-default{
  background: linear-gradient(to bottom, #41c7a2 0%, #1a609d 100%);
  color: #eeeeee;
  font-weight: bold;
}
hr{
  border-top: 1px solid #3fc5a1;
}
h1,h2,h3,h4{
font-family:  ui-serif;
color:#1a629c;
}

/*=====================Internal pages=========*/
#wrapper {
    padding-left: 0;  
    width:97%;  
}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

   /* #page-wrapper {
        padding: 22px 10px;
    }*/
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        *position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #288078;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav .active,
    .side-nav li a:focus {
        outline: none;
        background-color: #0771c2 !important;
color: #FFF;
    }
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


.navbar-inverse .navbar-nav>li>a {
color: #6bfdd4;
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;    
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.dang:nth-child(odd) { 
            background-color: Lightred !important; 
        }
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #d5f5ed !important;
}

.table-striped thead{
  background-color: #185a9d;
  color: white;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #F44336;
}

.dang:nth-child(even) { 
            background-color: Lightblue; 
        }  

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}
.dash_div{
  width: 90%;
  border-radius: 50%;
  height: 95px;
  background-color: #03e5b7;
  background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
  margin:10px;/* vertical-align: middle; */
  padding: 15%;
  font-size:19px;
}
.bckbtn{
  border-radius: 49%; 
  float: left; 
  margin-top: 13px;
}

